{% extends "base.html" %}
{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <button class="btn btn-primary">First Button</button>
                <button class="btn btn-primary">Second Button</button>
            </div>
            <div class="col-sm">
                <button class="btn btn-primary">Thrid Button</button>
                <button class="btn btn-primary">Fourth Button</button>
            </div>
        </div>
        
    </div>
{% endblock content %}
